@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

html{
  height: 100%;
}

body{
  background: white;
  height: 100%;
  margin: 0;
}

::selection {
  background-color: rgb(32, 192, 87);
  color: white;
}

::-moz-selection {
  background-color: rgb(32, 192, 87);
  color: white;
}

h1, h4, p,
a{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  background: rgb(32, 192, 87) !important;
  color: white !important;
  font-size: large !important;
  font-weight: bold !important;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a{
  text-transform: uppercase;
  background: rgb(32, 192, 87) !important;
  color: white !important;
  font-size: large !important;
  font-weight: bold !important;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.home_h1 h1{
  padding-top: 14rem;
  padding-bottom: 46rem;
  text-align: center;
  color: white;
  font-size: 5rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.home_h1 a{
  color: white;
}

.home_h1 a:hover{
  color: rgb(32, 192, 87);
}

.default_bg{
  height: 100%;
  background-color: white;
  /* background: url('../assets/backgrounds/homeBackground.jpg'); */
  background: rgb(32,192,87);
  background: radial-gradient(circle, rgba(32,192,87,1) 0%, rgba(255,255,255,1) 0%, rgba(32,192,87,1) 100%);
  background-size: cover;
  background-position: center;
}

.footer_c {
  margin-bottom: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
}

.box_h1{
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1rem;
  color: black;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .home_h1 h1{
    padding-top: 14rem;
    padding-bottom: 10rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
}