.profileBar{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 90px;
    z-index: 999;
    background-color: whitesmoke;
    width: 500px;
    height:fit-content;
    border-radius: 0px 0px 0px 10px;
    box-shadow:
        /* Bottom */
        0px 2px 2px rgba(0, 0, 0, 0.2),  
        /* Left */
        -2px 0px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    transition: 0.3s;
}

.profileBar ul{
    padding: 0;
    margin: 0;
}

.profileBar li{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    color: black !important;
}

.usernameLi{
    padding-top: 10px;
}

.usernameLi p{
    color:rgb(32, 192, 87);
    margin-bottom: 0;
    font-size: 1.3rem;
}

.mysubjectsLi{
    padding-top: 10px;
}

.subjectsLi{
    padding-top: 40px;
}

.logoutLi{
    padding-top: 40px;
    padding-bottom: 10px;
}

.usernameLia{
    color: black;
    margin-bottom: 0;
}

.mysubjectsLia{
    color: black;
    margin-bottom: 0;
}

.subjectsLia{
    color: black;
    margin-bottom: 0;
}

.logoutLia{
    color: black;
    margin-bottom: 0;
}

.usernameLia p:hover{
    color: rgb(32, 192, 87);
}

.mysubjectsLia p:hover{
    color: rgb(32, 192, 87);
}

.subjectsLia p:hover{
    color: rgb(32, 192, 87);
}

.logoutLia p:hover{
    color: rgb(32, 192, 87);
}

.navbarProfileOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    z-index: 999;
}

.backArrow{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    color: black;
    box-shadow:
    /* Bottom */
    0px 2px 2px rgba(0, 0, 0, 0.1),  
    /* Left */
    -2px 0px 2px rgba(0, 0, 0, 0.1);
}

.subjectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subjectContainer svg{
    margin-left: 6px;
    margin-top: -3px;
    cursor: pointer;
}

.subjectContainer svg:hover{
    color: rgb(32, 192, 87) !important;
}

@media screen and (max-width: 1000px) {
    .profileBar{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        transition: 0.3s;
    }

    .backArrow{
        padding: 2px;
    }
}